version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - iot-network

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - iot-network

  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    container_name: kafdrop
    depends_on:
      - kafka
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: kafka:29092
    networks:
      - iot-network

  postgres:
    image: postgres:13
    container_name: postgres-iot
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: iot_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./scripts:/docker-entrypoint-initdb.d
    networks:
      - iot-network

  # --- PRODUTOR ---
  sensor-producer:
    build: .
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      TZ: America/Sao_Paulo
    command: ["python", "src/producer/sensor_producer.py"]
    restart: on-failure
    networks:
      - iot-network

  # --- CONSUMIDOR ---
  spark-consumer:
    build: .
    container_name: spark-consumer
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      TZ: America/Sao_Paulo
      POSTGRES_HOST: postgres-iot
      POSTGRES_DB: iot_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
    command: ["python", "src/consumer/processamento_spark.py"]
    restart: on-failure
    networks:
      - iot-network

  # --- VISUALIZADOR DE DADOS  ---
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabaseappdb
      MB_DB_PORT: 5432
      MB_DB_USER: admin
      MB_DB_PASS: password123
      #Criação de banco interno para não misturar com o iot_db
      MB_DB_HOST: postgres-iot 
      TZ: America/Sao_Paulo
    networks:
      - iot-network

networks:
  iot-network:
    driver: bridge

volumes:
  postgres-data: